version: "3.9"

services:
  backend:
    build: .
    container_name: backend
    command: sh -c "python3 manage.py makemigrations --noinput && python3 manage.py migrate --noinput && python3 manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:8000 core.wsgi:application"
    volumes:
      - ./core:/app
      - static_volumes:/app/static
      - media_volumes:/app/media
    expose:
      - "8000"
    env_file:
      - ./envs/prod/django/.env

  nginx:
    # image: nginx
    image: hub.hamdocker.ir/nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volumes:/home/app/static
      - media_volumes:/home/app/media
      - ./certbot/www:/var/www/certbot/:ro
    depends_on:
      - backend
    restart: always
    
  certbot:
    image: hub.hamdocker.ir/certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      
volumes:
  static_volumes:
  media_volumes: