version: "3.9"

services:
  backend:
    build: .
    container_name: backend
    command: sh -c "python3 manage.py makemigrations --noinput && python3 manage.py migrate --noinput && python3 manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:8000 core.wsgi:application"
    volumes:
      - ./core:/app
      - static_volumes:/app/static
      - media_volumes:/app/media
    expose:
      - "8000"
    env_file:
      - ./envs/prod/django/.env

  nginx:
    # image: nginx
    image: hub.hamdocker.ir/nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volumes:/home/app/static
      - media_volumes:/home/app/media
      - certbot_data:/etc/letsencrypt
      - certbot_etc:/var/lib/letsencrypt

    depends_on:
      - backend
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volumes:/home/app/static
      - media_volumes:/home/app/media
      - certbot_data:/etc/letsencrypt
      - certbot_etc:/var/lib/letsencrypt
    command: certonly --webroot --webroot-path=/var/lib/letsencrypt --agree-tos --no-eff-email --email hamidfarzin1382@gmail.com -d sandbox.virasmart.co


volumes:
  static_volumes:
  media_volumes:
  certbot_data:
  certbot_etc: