{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Form</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'scan/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/persianDatepicker-default.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css" />
</head>
<body>

<div class="container mt-5">
    <form id="scanForm" method="post" action="{% url 'scan:scan-view'%}" class="shadow p-4 rounded">
        {% csrf_token %}
        <!-- Page 1: Personal Details -->
        <div id="page1">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'scan/logo/vira_logo.png' %}" alt="" width="150px" height="150px">
                <h1 class="display-5 fw-bold">پلتفرم هوشمند ویرا</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">نسخه آزمایشی</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <h3 class="text-center mb-4">.اطلاعات زیر را وارد نمایید</h3>
                    </div>
                </div>

                <main class="form-signin">
                    <div class="form-floating" dir="rtl">
                        <input type="text" name="first_name" class="form-control" id="floatingInput1" placeholder="نام"
                            required>
                        <label for="floatingInput"></label>
                    </div>
                    <div class="form-floating" dir="rtl">
                        <input type="text" name="last_name" class="form-control" id="floatingInput2"
                            placeholder="نام خانوادگی" required>
                        <label for="floatingPassword"></label>
                    </div>
                    <div class="form-floating" dir="rtl">
                        <input type="number" name="phone" class="form-control" id="floatingInput3"
                            placeholder="تلفن همراه" required>
                        <label for="floatingInput"></label>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" onclick="nextPage()">ادامه</button>
                    
                </main>
                <h3 id="poshtibani">در صورت نیاز با شماره زیر تماس بگیرید</h3>
                <h5 id="poshtibaniphone"><a href="tel:09303233439">09303233439</a></h5>
            </div>
        </div>
        
        <!-- Page 2: Product Details -->
        <div id="page2" style="display:none;">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'scan/logo/vira_logo.png' %}" alt="" width="150px" height="150px">
                <h1 class="display-5 fw-bold">پلتفرم هوشمند ویرا</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">نسخه آزمایشی</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <h3 class="text-center mb-4">.اطلاعات زیر را وارد نمایید</h3>
                    </div>
                </div>

                <main class="form-signin mb-3">
                        <p id="productype"> مرحله اسکن را انتخاب کنید</p>
                        <select id="productDropdown" required name="scan_part">
                            <option value="" selected>لطفاً انتخاب کنید</option>
                            <option value="Load from source" dir="rtl">بارگیری از مبدا</option>
                            <option value="Delivery to the distribution system" dir="rtl">تحویل به سیستم توزیع</option>
                            <option value="Delivery to the store" dir="rtl">تحویل به فروشگاه</option>
                        </select>
                        <p id="productype">نوع محصول را انتخاب کنید</p>
                        <select id="productDropdown2" required name="product_type">
                            <option value="" selected>لطفاً انتخاب کنید</option>
                            <option value="pasteurized Milk" dir="rtl">شیر پاستوریزه</option>
                            <option value="ESL milk" dir="rtl">ESL شیر</option>
                        </select>
                        <div class="form-floating" dir="rtl">
                            <input type="number" class="form-control" id="floatingInput4"
                                placeholder=" تعداد باکس را وارد نمایید" required name="number_in_box">
                            <label for="floatingPassword"></label>
                        </div>
                        <div class="form-floating" dir="rtl">
                            <p id="productype">تاریخ تولید را انتخاب کنید</p>
                            <input type="text" class="example1" id="floatingInput5" required name="manufacture_date" />
                        </div>
                        <button type="button" class="btn btn-primary btn-block" onclick="nextPage()">ادامه</button>
                        <button type="button" class="btn btn-primary btn-block" onclick="previousPage()">بازگشت</button>
                </main>
                   
                <h3 id="poshtibani">در صورت نیاز با شماره زیر تماس بگیرید</h3>
                <h5 id="poshtibaniphone"><a href="tel:09303233439">09303233439</a></h5>
            </div>
        </div>
        
        <!-- Page 3: Upload Photo -->
        <div id="page3" style="display:none;">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'scan/logo/vira_logo.png' %}" alt="" width="150px" height="150px">
                <h1 class="display-5 fw-bold">پلتفرم هوشمند ویرا</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">نسخه آزمایشی</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="d-flex flex-column align-items-center">
                            <div>
                                <video id="camera-preview" autoplay></video>
                                <div id="captured-image-container" class="d-none"></div>
                            </div>

                            <button type="button" id="start-scan-btn" class="btn btn-primary mt-2" onclick="startCameraOnScan()">شروع
                                اسکن</button>
                            <button type="button" id="scan-btn" class="btn btn-primary mt-2 d-none"
                                onclick="captureImage()">اسکن</button>
                            <button type="button" id="upload-btn" class="btn btn-primary mt-2 d-none"
                                onclick="sendDataAndPhoto()">تایید نهایی</button>
                            <button type="button" id="retake-btn" class="btn btn-warning mt-5 d-none" onclick="retakePhoto()">اسکن
                                مجدد</button>
                        
                            <input type="hidden" id="captured-image" name="photo">


                            <h3 id="poshtibani">در صورت نیاز با شماره زیر تماس بگیرید</h3>
                            <h5 id="poshtibaniphone"><a href="tel:09303233439">09303233439</a></h5>

                        </div>
                    </div>
                </div>
            </div>
           

            <button type="button" class="btn btn-primary btn-block" onclick="previousPage()">بازگشت</button>
            <!-- <button type="submit" class="btn btn-success btn-block">Submit</button> -->
            <!-- <input type="submit" value="OK"> -->
        </div>
    </form>
</div>

<!-- jQuery and Bootstrap JS CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>

// Function to check if the user is likely accessing from a system user
function checkSystemUser() {
    var userAgent = navigator.userAgent.toLowerCase();
    
    // List of keywords to check for system users
    var systemKeywords = ['windows'];
    
    // Loop through the systemKeywords array to check if any keyword matches with the user agent
    for (var i = 0; i < systemKeywords.length; i++) {
        if (userAgent.indexOf(systemKeywords[i]) > -1) {
            return true; // User is likely accessing from a system user
        }
    }
    
    // Additional checks based on other properties can be added here if needed
    // For example, you can check if the user has certain plugins enabled, screen size, etc.
    
    return false; // User is not a system user (mobile or other devices)
}

// Check system user on page load
window.onload = function() {
    if (checkSystemUser()) {
        alert('دسترسی به این صفحه تنها از طریق تلغن همراه امکان پذیر است.');
        // Redirect or perform other actions for system users
        window.location.href = 'https://www.virasmart.co/about-us/'; // Redirect to another site or show a message
    }
};

    let currentPage = 1;
    
    function nextPage() {
        let canProceed = true; // A flag to determine if the user can proceed to the next page
    
        // Depending on the currentPage, perform the appropriate validation
        switch (currentPage) {
            case 1:
                const firstName = document.getElementsByName('first_name')[0].value.trim();
                const lastName = document.getElementsByName('last_name')[0].value.trim();
                const phone = document.getElementsByName('phone')[0].value.trim();
                
                if (!firstName || !lastName || !phone) {
                    canProceed = false;
                }
                break;
    
            case 2:
                const scanPart = document.getElementsByName('scan_part')[0].value.trim();
                const productType = document.getElementsByName('product_type')[0].value.trim();
                const numberInBox = document.getElementsByName('number_in_box')[0].value.trim();
                const manufactureDate = document.getElementsByName('manufacture_date')[0].value.trim();
                
                if (!scanPart || !productType || !numberInBox || !manufactureDate) {
                    canProceed = false;
                }
                break;
    
            // Add more cases if you have more pages to validate
        }
    
        if (canProceed) {
            // If all required fields are filled, proceed to the next page
            document.getElementById(`page${currentPage}`).style.display = "none";
            currentPage++;
            if (currentPage <= 3) {
                document.getElementById(`page${currentPage}`).style.display = "block";
            } else {
                // If all pages are completed, submit the form
                document.getElementById("scanForm").submit();
            }
        } else {
            // If any required field is empty, display an alert or handle it as per your requirement
            alert('لطفاً تمام فیلدهای مورد نیاز را پر کنید.');
            // You can also add other UI/UX feedback mechanisms as needed.
        }
    }
    
    function previousPage() {
    // Hide the current page
    document.getElementById(`page${currentPage}`).style.display = "none";

    // Decrement the currentPage
    currentPage--;

    // If currentPage is within the valid range (greater than 0), display the previous page
    if (currentPage > 0) {
        document.getElementById(`page${currentPage}`).style.display = "block";
    } else {
        // If currentPage is less than or equal to 0, set it back to 1 to prevent errors
        currentPage = 1;
        document.getElementById(`page${currentPage}`).style.display = "block";
    }
    }

    function startCameraOnScan() {
    event.preventDefault();
    const video = document.getElementById('camera-preview');
    const startScanBtn = document.getElementById('start-scan-btn');
    const scanBtn = document.getElementById('scan-btn');
    const uploadBtn = document.getElementById('upload-btn');
    const retakeBtn = document.getElementById('retake-btn');

    navigator.mediaDevices.getUserMedia({ video: true })
        .then((stream) => {
            video.srcObject = stream;

            startScanBtn.classList.add('d-none');
            scanBtn.classList.remove('d-none');
            uploadBtn.classList.add('d-none');
            retakeBtn.classList.add('d-none');

            scanBtn.addEventListener('click', function () {
                startScanBtn.classList.add('d-none');
                scanBtn.classList.add('d-none');
                uploadBtn.classList.remove('d-none');
                retakeBtn.classList.remove('d-none');

                captureImage(video, scanBtn);
            });



            retakeBtn.addEventListener('click', function () {
                startScanBtn.classList.add('d-none');
                scanBtn.classList.remove('d-none');
                uploadBtn.classList.add('d-none');
                retakeBtn.classList.add('d-none');

                video.classList.remove('d-none');
                document.getElementById('captured-image-container').classList.add('d-none');
            });
        })
        .catch((err) => console.error('Error accessing camera:', err));

    window.addEventListener('beforeunload', function () {
        const tracks = video.srcObject?.getTracks();
        if (tracks) {
            tracks.forEach(track => track.stop());
        }
    });
}

function captureImage(video, captureBtn) {
    const capturedImageContainer = document.getElementById('captured-image-container');

    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    const imageData = canvas.toDataURL('image/png');

    video.classList.add('d-none');

    const img = document.createElement('img');
    img.src = imageData;
    img.width = canvas.width;
    img.height = canvas.height;

    capturedImageContainer.innerHTML = '';

    capturedImageContainer.appendChild(img);
    capturedImageContainer.classList.remove('d-none');

    captureBtn.classList.add('d-none');
}

function sendDataAndPhoto() {
    const capturedImageContainer = document.getElementById('captured-image-container');
    const img = capturedImageContainer.querySelector('img');
    
    // Check if an image is captured
    if (img && img.src) {
        // Convert the image to a blob
        fetch(img.src)
            .then(res => res.blob())
            .then(blob => {
                // Create a FormData object to collect all form data
                const formData = new FormData();
                
                // Append the image Blob to FormData with the name 'photo'
                formData.append('photo', blob, 'captured-image.png');

                // Gather other form data
                const firstName = document.getElementsByName('first_name')[0].value.trim();
                const lastName = document.getElementsByName('last_name')[0].value.trim();
                const phone = document.getElementsByName('phone')[0].value.trim();
                const scanPart = document.getElementsByName('scan_part')[0].value.trim();
                const productType = document.getElementsByName('product_type')[0].value.trim();
                const numberInBox = document.getElementsByName('number_in_box')[0].value.trim();
                const manufactureDate = document.getElementsByName('manufacture_date')[0].value.trim();

                // Append other form data to FormData
                formData.append('first_name', firstName);
                formData.append('last_name', lastName);
                formData.append('phone', phone);
                formData.append('scan_part', scanPart);
                formData.append('product_type', productType);
                formData.append('number_in_box', numberInBox);
                formData.append('manufacture_date', manufactureDate);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Add CSRF token

                // Send FormData to the server using fetch or any other method
                fetch("{% url 'scan:scan-view'%}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'  // Ensure you're providing the CSRF token correctly
                    }
                })
                .then(response => {
                    // Check if the response status is 200 OK
                    if (response.status === 200) {
                        alert('عملیات با موفقیت انجام شد');
                        // Redirect the user to the desired site
                        window.location.href = "https://www.virasmart.co/about-us/";  // Replace with your desired URL
                    } else {
                        return response.json();  // If the response status is not 200, return the JSON response
                    }
                })
                .then(data => {
                    console.log(data);
                    // Handle the response as needed
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            })
            .catch(error => {
                console.error('Error fetching image:', error);
            });
    } else {
        console.error('No image captured.');
    }
}

// Function to convert data URI to Blob
function dataURItoBlob(dataURI) {
    const byteString = atob(dataURI.split(',')[1]);
    const arrayBuffer = new ArrayBuffer(byteString.length);
    const int8Array = new Uint8Array(arrayBuffer);
    for (let i = 0; i < byteString.length; i++) {
        int8Array[i] = byteString.charCodeAt(i);
    }
    const blob = new Blob([int8Array], { type: 'image/png' });
    return blob;
}

$(document).ready(function () {
    $(".example1").pDatepicker({
      initialValueType: "gregorian",
      format: "YYYY/MM/DD",
      onSelect: "year",
    });
  
    const productDropdown = document.getElementById("productDropdown");
    const selectedProduct = document.getElementById("selectedProduct");
  
    productDropdown.addEventListener("change", function () {
      const selectedValue = productDropdown.value;
      // selectedProduct.textContent = "Selected Product: " + selectedValue;
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
<script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>